/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h1:hover {
  letter-spacing: 0.15rem;
  text-shadow: 5px 9px 13px rgba(60, 90, 166, 0.83), 0 0 5px #0000ff;
  -webkit-text-stroke-width: 1.5px;
  -webkit-transition: all 0.65s ease;
  -moz-transition: all 0.65s ease;
  transition: all 0.65s ease;
}

.map_container {
  width: 85%;
  height: 65%;
  margin: 0 auto;
}